.docker/*
!.docker/health-check.js
!.docker/README.md

.github/
.gitignore
.prettierignore
.prettierrc
.tool-versions
eslint.config.mjs
jest.config.ts
jest-preset.mjs

.idea/
.vscode/

.jest/
dist/
reports/

node_modules/

e2e/
